.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
