#root {
  --background: #fffbf2;
  --border: #d3cec4;
  --300: #b8b2a7;
  --sub: #f6f5ec;
  --200: #faf9f7;
  --400: #a39e93;
  --sub-2: #fffae7;
  --100: #e8e6e1;
  --600: #625d52;
  --500: #857f72;
  --700: #504a40;
  --font: #423d33;
  --900: #27241d;
  --white: #fff;
  --nickname: #8b681a;
  --black: #000;
  --red: #f00;
  --dark-red: #a31010;
  --main: #ffe898;
  --pale-grey: #f8f9fa;
}

html {
  font-size: calc(6.25% * 0.9); /*1rem = 0.7px 이 되도록 맞춤*/
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


